<div class="container" style="padding-top:10px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2>Meus Contatos</h2>
            <table class="table table-striped-table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Remover</th>
                    </tr>          
                </thead>
                <tbody>
                    <tr>
                        <td>Fulano</td>
                        <td>Fulano@fulano.com</td>
                        <td>33 25454785</td>
                        <td><button class="btn btn-danger">Remover</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>